body {
    font-family: roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body > * {
    padding-left: 12%;
    padding-right: 12%;
}

.header, .footer {
    background-color: #1F2937;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.logo a {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    gap: 26px;
    font-size: 18px;
}

.right-links a {
    color: #e5e7eb;
}

.top-content-container {
    padding: 4em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.image-bar {
    max-width: 30em;
    overflow: hidden;
}

.top-content-left {
    max-width: 25em;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.hero-second-text {
    font-size: 18px;
    color: #e5e7eb;
}

p {
    margin: 0;
    padding: 0;
}

.signup-button {
    display: block;
    background-color: #3882f6;
    color: #F9FAF8;
    margin-top: 14px;
    padding: 8px 28px;
    width: fit-content;
    min-width: fit-content;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
}

.top-signup-button {
    border: none;
}

.bottom-signup-button {
    border: 2px solid #F9FAF8;
}

.mid-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 52px;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    font-size: 18px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
    width: 210px;
}

.card img {
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.quote-container {
    background-color: #e5e7eb;
    color: #1F2937;
    padding-top: 2em;
    padding-bottom: 2em;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    padding: 0 1em;
    text-align: center;
}

.quote-author {
    font-size: 26px;
    padding: 0 1em;
    text-align: right;
}

.bottom-content-container {
    padding-top: 3em;
    padding-bottom: 3em;

}

.blue-background {
    background-color: #3882f6;
    padding: 2.5em 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}

.bottom-content {
    max-width: 33em;
}

.info-header {
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 5px;
}

.info-text {
    color: #e5e7eb;
    font-size: 18px;
}

.footer {
    text-align: center;
    color: #e5e7eb;
    padding: 1.5em;
}